{% extends 'rdbms/rdbms-base.html' %}
{% load cms_ui_libs %}
{% load compress %}

{% block html_extra_head %}
	{{ block.super }}
    {% require_ui_file 'backbone-forms/distribution/templates/bootstrap3.css' %}
    {% require_ui_css 'cms-models-edit' %}
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'rdbms-home' %}">RDBMS</a>
            </li>
            <li class="active">
                <strong>Create New Model</strong>
            </li>
        </ol>
    </div>
</div>      

<div class="wrapper-content">
	<div id="content" class="container-fluid">
	    <div role="tabpanel" class="inline-block">
	        <!-- Nav tabs -->
	        <ul class="nav white-right-nav-pills nav-pills nav-stacked col-lg-1 pull-right nogap" role="tablist">
	            <li class="active" role="presentation"><a aria-controls="home" data-toggle="tab" href="#home" role="tab">Fields</a></li>
	            <li role="presentation"><a aria-controls="profile" data-toggle="tab" href="#profile" role="tab">Options</a></li>
	        </ul>
	        <div class="col-lg-11 nogap">
		        <div class="tab-content panel panel-default">
					<div class="panel-body">
			            <div id="fields-tab" class="tab-pane active" role="tabpanel"></div>
			            <div id="options-tab" class="tab-pane" role="tabpanel"></div>
			        	<button class="btn btn-primary add-field-btn">Add Field</button>
                        
                        <div id="unsaved-changes">
                            
                        </div>
                    </div>
                </div>
		    </div>
	    </div>
	</div>
</div>

<!---

Templates - need a convention for sharing these across files?

-->
<script id="field-list-tmpl" type="text/template">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script id="field-row-tmpl" type="text/template">
    <td class="field-name" data-name="<%-o.name %>">
        <input type="text" value="<%-o.name %>"/>
    </td>
    <td>
        <select class="form-control">
            <% for (var i in FIELD_TYPES) { %>
                <option <% if (FIELD_TYPES[i]==o.kind){ %>selected=1<% } %> >
                    <%-FIELD_TYPES[i]%>
                </option>
            <% } %>
        </select>
    </td>
    <td class="selected-options">
        <% for (var name in o.kwargs) {%>
            <a class="btn btn-default btn-edit-kwarg" data-name="<%-name %>" href="javascript:void(0)"><%-name %>: <%-o.kwargs[name] %></a>
        <% } %>
        <a class="btn btn-default btn-add-kwarg" href="javascript:void(0)">+</a>
    </td>
    <td>
        <a href="javascript:void(0)" class="glyphicon glyphicon-duplicate btn-dupe-field"></a>
        <a href="javascript:void(0)" class="glyphicon glyphicon-remove btn-delete-field"></a>

    </td>
</script>

{% endblock %}

{% block body_footer_extra_script %}
    {% compress js %}
	    {{ block.super }}	    
        {% require_ui_js 'cms-models-edit' %}
    {% endcompress %}

{% endblock %}          