{% extends 'rdbms/rdbms-base.html' %}

{% block content %}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'rdbms-home' %}">RDBMS</a>
            </li>
            <li class="active">
                <strong>Database Setup</strong>
            </li>
        </ol>
    </div>
</div>    
<div class="wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="cpanel">
				<div class="cpanel-title">
				    <h5>Databases</h5>
				</div>
				<div class="cpanel-content">
					(nothing setup)
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}      