{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-static-top">
	<div class="container-fluid">
       <ol class="breadcrumb">
           <li>
               <a href="{% url 'home' %}">Home</a>
           </li>
           <li>Models</li>
           <li>
               <a href="{% url 'rdbms-home' %}">RDBMS</a>
           </li>
           <li class="active">
               Edit <strong>Artist</strong> Model
           </li>
       </ol>
	</div>
</nav>
{% endblock %}            