{% extends 'rdbms/rdbms-base.html' %}

{% load cms_ui_tags %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'rdbms-home' %}">RDBMS</a>
            </li>
            <li class="active">
                <strong>Tabled Diagram</strong>
            </li>
        </ol>
    </div>
</div> 

<div class="wrapper-content">
	<div class="container-fluid">
		{% for i in 20|get_range %}
		<div class="col-lg-12">
			<div class="cpanel">
				<div class="panel-yellow cpanel-title">
				    <h4>Artist</h4>
					<div class="cpanel-tools">
						<i class="fa fa-wrench"></i>
					</div>				    
				</div>
				<div class="cpanel-content">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="col-lg-3">Field Name</th>
								<th class="col-lg-2">Field Type</th>
								<th class="col-lg-1">Size</th>
								<th class="col-lg-2">Default Value</th>
								<th class="col-lg-4">Other</th>
							</tr>
						</thead>
						<tbody>
							{% for i in 20|get_random_range %}
							<tr>
								<td>{% random_string size=10 %}</td>
								<td>{% random_string size=10 %}</td>
								<td>{% random_number min=10 max=256 %}</td>
								<td></td>
								<td></td>
							</tr>
							{% endfor %}
						</tbody>						
					</table>
				</div>
			</div>
		</div>
		{% endfor %}
		
		
	</div>
</div>     

{% endblock %}      