{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.1/metisMenu.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<link rel="stylesheet" href="/static/css/cms.css">

{% endblock %}

{% block bootstrap3_content %}
    <div id="wrapper">

        <div class="navbar-default sidebar" role="navigation">
<img alt="logo" src="/static/images/logo.png">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Models<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'rdbms-home' %}">RDBMS</a>
                            </li>
                            <li>
                                <a href="nosql.html">NoSQL</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="api.hml"><i class="fa fa-puzzle-piece fa-fw"></i> APIs<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="api-views.html">Views</a>
                            </li>
                            <li>
                                <a href="api-serializers.html">Serializers</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="content.html"><i class="fa fa-file-text-o fa-fw"></i> Content</a>
                    </li>                    
                    <li>
                        <a href="import.hml"><i class="fa fa-download fa-fw"></i> Import</a>
                    </li>                    
                    <li>
                        <a href="export.html"><i class="fa fa-cloud-upload fa-fw"></i> Export</a>
                    </li>                    
                    <li>
                        <a href="reports.html"><i class="fa fa-pie-chart fa-fw"></i> Report</a>
                    </li>                    

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
        
        <div id="page-wrapper">
        {% block tabs %}{% endblock %}
        {% block content %}(no content){% endblock %}
        </div>
        <!-- /#page-wrapper -->
        
    </div>
    <!-- /#wrapper -->

{% endblock %}

{% block bootstrap3_extra_script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.1/metisMenu.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock %}
